* {
    font-weight: 400;
    font-style: normal;
    font-family: 'Noto Sans JP',
    sans-serif,
    'Helvetica Neue',
    Arial,
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'メイリオ';
}

body{
    color:#FF0000;
}

.date,
.time,
#copyright {
    font-weight: 500;
    font-style: normal;
    font-family: interstate-mono, monospace;
}

a:link {
    color:#FF0000;
}

a:visited {
    color:#FF0000;
}

a:hover {
    opacity:.6;
}

.none {
    display: none;
}

body {
    position: relative;
    background-color: #f8f7f2;
}

body:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF0000;
    ;
    content: '';
}

body.slideIn:after {
    animation: slideIn .4s forwards;
    animation-timing-function: cubic-bezier(.1, .5, 1.0, .1);
}

@keyframes slideIn {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.opLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    max-width: 200px;
    width: 20vw;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
}

.wrapper {
    padding: 12px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    height: 100%;
    /* wrapperの上下padding分引く */
    min-height: calc(100vh - 24px);
    min-height: calc(var(--vh,100vh) - 24px);
    /* for iOS */
    min-height: calc(100svh - 24px); 
    border: dashed 1px;
    border-radius: 5px;
    opacity: 0;
}

@media screen and (min-width:960px) {
    .content {
        padding: 28px;
    }
}

.appear {
    animation: appear linear .4s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logoContainer {
    position: absolute;
    top: 36px;
    right: 38px;
    width: min(9.66vw,40px);
}

.logo {
    width: 100%;
    height: auto;
}

.logoFill {
    fill: #ff0000;
}

.title,
.description,
.link,
.link h2,
.CV {
    font-size: min(5.13vw, 24px);
}

.title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing: .03em;
    line-height: 1.5;
}

.description {
    position: relative;
    margin-bottom: 38px;
    width: 85%;
    letter-spacing: .01em;
    line-height: 1.5;
    animation-delay: .2s;
}

.link {
    margin-bottom: 38px;
    letter-spacing: .01em;
    line-height: 1.1;
}

.link li {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

.link h2 {
    position: relative;
    display: inline-block;
    letter-spacing: .01em;
    line-height: 1.1;
}

.link p {
    display: inline-block;
}

.CV {
    margin-bottom: 38px;
}

.clock {
    position: absolute;
    right: 0;
    bottom: 1px;
    text-align: right;
    font-size: 10px;
    line-height: 1.1;
}

.footer {
    position: relative;
    margin-top: auto;
}

.copyright {
    position: relative;
    letter-spacing: .01em;
    font-size: 10px;
    line-height: 1.1;
}

.copyright_span01 {
    padding: 0 1px;
}

.copyright_span02 {
    padding: 0 3px;
}

@media screen and (max-width:310px) {
    .copyright_span02,
    .copyright_span03 {
        display: block;
        padding: 1px 0;
    }
}

.skew {
    animation: skew 3s infinite;
}

@keyframes skew {
    0% {
        transform: none;
    }

    20% {
        transform: none;
    }

    20.1% {
        transform: skewX(45deg);
    }

    20.4% {
        transform: skewX(-45deg);
    }

    20.7% {
        transform: none;
    }

    60% {
        transform: none;
    }

    60.3% {
        transform: skewX(5deg);
    }

    60.6% {
        transform: skewX(-5deg);
    }

    60.9% {
        transform: none;
    }

    90% {
        transform: none;
    }

    90.3% {
        transform: skewX(15deg);
    }

    90.6% {
        transform: skewX(-15deg);
    }

    90.9% {
        transform: none;
    }
}
