* {
    font-weight: 400;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ';
}

:root {
    --text-color: #0066ff;
    --text-size: min(5.13vw, 24px);
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    color: var(--text-color);
    background-color: #e4e4e4;
}

a:link,
a:visited {
    color: var(--text-color);
}

a:hover {
    opacity: .6;
}

.wrapper {
    padding: 12px;
    min-height: 100vh;
    min-height: 100svh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    min-height: calc(100vh - 24px);
    min-height: calc(100svh - 24px);
}

@media screen and (min-width:960px) {
    .content {
        padding: 28px;
    }
}

.mainText,
.title,
.description,
.mail,
.works,
.footer,
.clock,
.copyright {
    font-size: var(--text-size);
    letter-spacing: .01em;
    line-height: 1.5;
}

.mainText {
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    margin-bottom: 0;
}

.description {
    margin-bottom: 2em;
}

.mail {
    margin-bottom: 3em;
}

.works a {
    display: inline-block;
    padding: 0 .15em;
    text-decoration: none;
}

.works a:hover {
    background-color: #ffff99;
    opacity: 1;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
}

.copyright {
    display: block;
}

.clock {
    flex: 0 0 auto;
    text-align: right;
    white-space: nowrap;
}
